// th,td{
//     color:#003e3e;
//     text-align: left;
//     border: 1px solid #000000;
// }

// p{
//     color:#003e3e;
//     font-weight:bold;
//     font-size: 30px;
//     text-align: center;    
// }
span{
    font-size: 70px;
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 
}
.span1{
    color: #eead0e;
}
.span2{
    color: #ee00ee;
}
.span3{
    color: #9400d3;
}
.span4{
    color: #0000ee;
}
.span5{
    color: #00ee00;
}

